.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.jar-wrapper{
    
    align-items: center;
    height: 50vh;
    justify-content: center;
}
.jar-wrapper .jar{
    display: flex;
    border: 2px solid blue;
    border-top: none;
    width: 180px;
    height: 300px;
    flex-direction: column;
}

.jar-wrapper .jar .fill{
    height: 20%;
}

.jar-wrapper .jar .fill.blue{
    background-color: blue;
}
/* .jar-wrapper .jar .fill#fill5{
    background-color: blue;
} */
.glass-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.glass-wrapper .glass{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80px;
    height: 100px;
    border: 2px solid blue;
    border-top: none;
    cursor: pointer;
}

.glass-wrapper .glass.blue{
    background-color: blue;
}